.background-welcome {
  background-image: url('./../../../assets/Art-Books.jpg');
  background-size: cover;
  height: auto;
  overflow: auto;
}

.xxx-large {
    font-size: 60px;
}

.large {
  font-size: large;
}