<html>
<body style="height: 100%; display: flex; align-items: center; justify-content: center;" class="background-welcome">
	<div class="p-5">
		<div class="p-5" style="text-align: center;" [ngClass]="drop_class ? 'drop' : ''">
			<h1 class="ft pb-3 xxx-large" style="color: black; font-size: 13vw;">SHELVES</h1>
			<h1 class="large ft" style="color: black">Read your favorite books and create your own shelf.</h1>
			<br>
			<button class="mt-4" style="outline: none; background-color: black;" mat-raised-button (click)="clickEvent()"><span class="ft" style="color: white">LOG IN</span></button>
		</div>
	</div>
</body>
</html>