<html>
<body style="background-color: white">
    
    <navigation></navigation>

    <div style="text-align: center;">

        <div>
            <h1 class="ft p-5" style="color: black; background-image: url('./../../../assets/Art-Books.jpg');">
                <span style="font-size: 7vw">ACCOUNT INFORMATION</span>
            </h1>
        </div>
    
        
    </div>

    <div style="text-align: center;" *ngIf="showPage">
        <div class="card-account" style="display: inline-block;">
            <img src="../../../assets/account-photo.png" style="width: 100%">
            <h4 class="ft">{{userInfo.f_name}} {{userInfo.l_name}}</h4>
            <span class="ft">({{userInfo.username}})</span>
            <br>
            <span class="ft">{{userInfo.email}}</span>
        </div>
    </div>
</body>
</html>